.navbar {
  width: 100%;
  background: #530b57;
  background: linear-gradient(45deg, #3a0554, #8f185d);
  margin-bottom: 25px;
  height: 55px;
  position: relative;

  .esvoe-img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
  }

  .svoe-img {
    width: auto;
    height: 25px;
    left: 15px;
    margin-right: 80px;
  }

  .white-cirle {
    width: auto;
    height: 25px;
    left: 50px;
    margin-right: 80px;
  }

  .search-input {
    border-radius: 8px;
    border: 2px solid #9c1b5e;
    background-color: rgba(0, 0, 0, 0);
    color: #f3f3f3;
  }

  .input-group-text {
    border-radius: 8px;
    border: 2px solid #9c1b5e;
    background: linear-gradient(45deg, #4c0956, #500a56);
    position: relative;
    right: 10px;
  }

  .dropdown{
    margin-right: 70px;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .sidebar-icon {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .small-user-img {
    width: 35px;
    height: 35px;
    border: 2px solid #ffffff;
  }

  .header-dropdown {
    color: #f3f3f3;
  }
}
